<IfModule mod_rewrite.c>
    RewriteEngine On

    # HTTPS erzwingen
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Weiterleitung an index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    # Sicherheit: X-Content-Type-Options Header setzen
    Header always set X-Content-Type-Options "nosniff"
</IfModule>