.mainFooterContainer {
    display: flex;
    justify-content: center;
    background-color: #d8dcdf;
    background-image: url('../images/noise-light.png');
    padding: 1rem;
    width: 100%;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logoContainer, .linksContainer, .socialContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer {
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.socialContainer {
    gap: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .logoContainer, .linksContainer, .socialContainer {
        width: 100%;
    }

    .linksContainer {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .mainFooterContainer {
        padding: 0.5rem;
    }

    .logoContainer img, .socialContainer img {
        width: 40px;
        height: 40px;
    }

    .linksContainer {
        font-size: 14px;
    }
}
