.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 130px);
	justify-content: center;
}

#StudyGenieImage {
	height: 190px;
	width: 100px;
}

.navigationTags {
	margin-block: 1rem;
	color: black;
}

.Cloud_Karriere svg svg text {
	fill: #FFFFFF;
	font-size: 20.5px;
}

.Cloud_Karriere:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.centerCon {
    text-align: center;
}

.Cloud_Karriere:hover svg path {
	fill: #2B4053;
}

.Cloud_Karriere.custom-hover:hover svg path {
	fill: grey;
}

.Cloud, .Cloud_Karriere {
	transition: 0.5s all ease-in-out;
}

.Cloud svg svg text {
	fill: #FFFFFF;
	font-size: 20.5px;
}

.Cloud:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.Cloud:hover svg path {
	fill: #E09E50;
}

.Cloud.custom-hover:hover svg path {
	fill: grey;
}

#navigationSpan {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #2D3E4E;
	margin-inline: 3rem;
}

.categoryClouds {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2rem;
}

.categoryClouds a {
	position: relative;
}

.categoryClouds a button {
	position: absolute;
	top: 37px;
	right: 43px;
}

.headerMainContainer {
	width: 50rem;
	margin-block: 1rem;
	margin-inline: 5rem;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width:820px) {
	.headerMainContainer {
		max-width: 100%;
	}
	.categoryClouds {
		grid-template-columns: 1fr 1fr;
	}
    .mainContainer {
        height: auto;
    }
}

@media screen and (max-width:550px) {
	.categoryClouds {
		grid-template-columns: 1fr;
	}
	.mainContainer .ab1, .mainContainer .ab2, .mainContainer .ab3,
		.mainContainer .ab4 {
		display: none;
	}
}

.mainContainer .ab1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.mainContainer .ab2 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.mainContainer .ab3 {
	position: absolute;
	top: 20%;
	right: 95px;
	z-index: -1;
}

.mainContainer .ab4 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
