.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid gray;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #4CAF50;
  background-image: url('../images/noise-light.png');
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.headerContainer {
  background: #2d3e4e;
  background-image: url('../images/noise-light.png');
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 75px; /* Feste Höhe für den Header */
}

.headerSpacer {
  height: 75px; /* Gleiche Höhe wie der Header */
  padding-bottom: 75px;
}

a {
  cursor: pointer;
}

.headerDesign {
  position: absolute;
  left: -2%;
  bottom: -1%;
}

.arrow-up {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #212529;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.arrow-up.hidden {
  display: none;
}

.hidden {
  display: none;
}

.text-success {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger {
  color: red;
}



.toggle-password {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  width: 21px;
  height: 21px;
}

.criteria-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
  font-size: 12px;
}

.criteria-row p {
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

.text-success .checkmark {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger .checkmark {
  color: red;
  animation: highlight 0.5s ease-in-out;
}

@keyframes highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.arrow-up:hover {
  opacity: 1;
}

.arrow-up img {
  width: 30px;
  height: 30px;
}

.navbar {
  position: relative;
  z-index: 2;
}

.navContainer {
  padding: 0.5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.RightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 2rem 6rem 2rem 0rem;
}

.anchorTagsContainer a {
  margin-inline: 1rem;
  text-decoration: none;
  font-family: 'Milonga';
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
}

.anchorTagsContainer a:hover,
.anchorTagsContainer a:active {
  cursor: pointer;
  color: #e09e50;
  text-decoration: underline;
}

.primary-button {
  margin-inline: 0.3rem;
  height: 35px;
  width: 150px;
  text-align: center;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  color: white;
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  line-height: 24px;
  background-color: #e09e50;
}

.nav-item button.pop {
  position: relative;
  z-index: 999;
  background: linear-gradient(261.11deg, #2d3e4e 0%, #283949 90.84%);
}

.nav-link.dropdown-toggle {
  color: #e09e50 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.nav-item .blog {
  background: transparent;
  outline: none;
  border: none;
  width: 76px;
  font-family: 'Montserrat', sans-serif;
}

.nav-item .blog:hover {
  background-color: #e09e50;
  border: 1px solid white;
  font-family: 'Milonga', sans-serif;
}

.nav-item button {
  background-color: #e09e50;
  outline: none;
  border: none;
}

.sideAdaptSticker {
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: rgba(185, 212, 208, 0.2);
  opacity: 0.7;
  box-shadow: 2px 0px 10px 0px rgba(185, 212, 208, 0.2);
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.mainImageContantContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
}

.heroimageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.heroimageContainer img {
  max-width: 100%;
  height: auto;
}

.contentContainer {
  display: inline-block;
  width: 448px;
  margin-top: 10rem;
  margin-left: 15rem;
}

.heroimage-section {
  background-color: #2d3e4e;
  background-image: url('../images/noise-light.png');
}

.primary-heading {
  font-family: 'Milonga';
  font-weight: 400;
  color: white;
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

.primary-paragraph {
  font-weight: 400;
  font-size: 1rem;
  color: #e09e50;
  font-family: 'Montserrat', sans-serif;
}

.secondary-Heading {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

.secondary-Paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: rgba(40, 41, 41, 1);
}

.learnAnythingSection {
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#knowYouMoreBtn,
#JoinNowBtn {
  background-color: #e09e50;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  outline: none;
  border: none;
  padding: 0.5rem 2.5rem;
  width: 11.5rem;
  border-radius: 7px;
}

#JoinNowBtn {
  width: 11.5rem;
}

.MathrixButtonContainer {
  margin: 1.5rem;
}

.MathrixSection {
  background-image: url('../images/bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.testomnialDivision {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.testimonialCard img {
  height: 250px;
  width: 250px;
}

.CardThumbnailSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2d3e4e;
}

.witnessSection {
  position: relative;
  text-align: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
  min-height: 41rem;
}

.MainCardsContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card {
  top: 47%;
  left: 9%;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 170px;
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CardDiv {
  position: relative;
  margin-bottom: 4rem;
}

.shadowOfCard {
  position: absolute;
  z-index: 0;
  width: 270px;
  top: 18%;
  left: 0;
}

.shadowOfCard3 {
  position: absolute;
  right: -14%;
  width: 260px;
  top: 12%;
}

.shadowOfCard2 {
  position: absolute;
  left: 16%;
  top: -16%;
}

.thumbnail-Content-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.quoteMarks {
  position: absolute;
  top: -6%;
  width: 2rem;
}

.card2 {
  top: 19%;
}

.tabBar {
  position: absolute;
  bottom: 0;
}

.thumbnail-Content-Container img {
  border-radius: 25px;
}

.thumbnailDescription {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.tutorialSection {
  text-align: center;
}

.crownImg {
  width: 4rem;
  align-self: center;
}

.tutorialSection h1,
.tutorialSection p {
  align-self: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Erstellt 4 Spalten mit gleicher Breite */
  gap: 0px; /* Abstand zwischen den Elementen */
  margin: 0 auto; /* Zentriert den Container horizontal */
  max-width: 960px; /* Maximale Breite des Containers, anpassbar */
}

.tutorialCard {
  width: 260px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 1.4rem;
  box-shadow: 7px 7px 2px 1px rgb(9, 12, 15);
}

.cardPara {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1);
}

.cards.img {
  height: 50px;
  width: 50px;
}

.cards {
  display: block;
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgba(45, 62, 78, 1);
  clip-path: polygon(51% 4%, 99% 1%, 100% 1%, 100% 80%, 100% 99%, 48% 96%, 1% 99%, 0 0);
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px;
}

.parent-card {
  width: 220px;
  height: 220px;
  filter: drop-shadow(-4px -6px 3px rgba(45, 62, 78, 0.2));
  display: inline-block;
  position: relative;
  margin: 13px;
}

.cards::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 98%;
  height: 98%;
  border-radius: 30px;
  background-color: white;
  z-index: -1;
  clip-path: polygon(51% 4%, 99% 1%, 100% 1%, 100% 80%, 100% 99%, 48% 96%, 1% 99%, 0 0);
}

.planCardsSection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.planCardsSection img {
  width: 4rem;
  align-self: center;
}

.planCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('../images/PlanCardsBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

#upperDesign {
  position: absolute;
  top: -15%;
  right: 1%;
}

#lowerDesign {
  position: absolute;
  bottom: -20%;
  left: 3%;
}

.planCard {
  position: relative; /* Ensure the planCard is the reference for absolute positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 280px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 1rem;
  background-color: white;
  z-index: 1;
}

.planCard.back {
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
}

.planCard.back .highWeightSpan,
.planCard.back .planCardParagraph {
  color: #fff;
}

.headerPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.planCardHeading {
  align-self: center;
  text-align: center;
}

.headerPlanCard h6 {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.contentPlanCard ul {
  padding-left: 0;
}

.contentPlanCard ul li {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.highWeightSpan {
  font-weight: 700;
  font-size: 1.8rem;
  color: black;
}

.lowWeightSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.planCardParagraph {
  font-weight: 450;
  font-size: 1.1rem;
  text-align: left;
  color: black;
  width: 100%;
  padding-top: 0.8rem;
}

.reset-container {
  min-height: 80vh;
}

.reset-card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset-card-body .form-group {
  margin-bottom: 1.5rem; /* Erhöht den Abstand zwischen den Formularfeldern */
}

.reset-card-body .form-control, .reset-card-body .btn {
  width: 100%;
}

.reset-card-header, .reset-card-body {
  text-align: center;
}

.plancardButton {
  width: 200px;
  height: 35px;
  border-radius: 6px;
  background-color: #e09e50;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plancardButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contentPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contentPlanCard2,
.contentPlanCard3 {
  padding-top: 3.2rem;
}

.videoCardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  background-image: url('../images/videos\ Background.png');
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  background-position: center;
}

#dotsDesign {
  position: absolute;
  left: -5%;
  top: -5%;
}

.videosCards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.videoCard {
  overflow: hidden;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-block: 2rem;
}

.thumbnailshow,
.videos {
  display: none;
}

.videos {
  clip-path: polygon(51% 4%, 99% 1%, 100% 1%, 100% 80%, 100% 99%, 48% 96%, 1% 99%, 0 0);
  border-radius: 20px;
  width: 200px;
  height: 170px;
}

.videoCard img:first-child {
  width: 100%;
  filter: drop-shadow(3px 2px 0px rgba(34, 154, 135, 1));
}

.videoDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1);
  text-align: center;
}

.frequentlyAskedQuestionSection,
.joinNowSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}

.JoinNowButton {
  background-color: #e09e50;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  outline: none;
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 7px;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0.5rem 1rem;
  gap: 1rem;
}



.questionContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgba(40, 41, 41, 1);
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #e09e50;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.questionContentContainer:hover {
  background-color: #f3f5f6;
}

.answerContentContainer {
  font-family: 'Montserrat', sans-serif;
  color: rgba(40, 41, 41, 1);
  display: none;
  margin: 5px 0px 0px 35px;
}

.showAnswerDiv {
  display: block;
}

.crossIcon {
  display: none;
}

.showCrossIcon {
  display: block;
  width: 20px;
  height: 20px;
}

.hidePlusIcon {
  display: none;
}

.plusIcon {
  width: 20px;
  height: 20px;
}

.divider {
  margin-block: 1rem;
  opacity: 20%;
  border: 1px solid black;
}

.footerHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1) !important;
  text-decoration: none;
}

.anchorTags a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  text-decoration: none;
}

.anchorTags a:hover {
  color: #f28816;
  cursor: pointer;
  text-decoration: underline;
}

.footerContainer {
  background-color: #d8dcdf;
  background-image: url('../images/noise-light.png');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Added to vertically center the content within the footer */
}

#footerLogo {
  width: 133px;
  height: 77px;
}

.footerUpperSection {
  background-image: url('../images/download_app.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.buttonsContainerFooterUperSec {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonsContainerFooterUperSec button {
  border: none;
  outline: none;
}

.changePasswordForm {
  padding: 0 9rem;
}

.CenterContainer {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
  gap: 2.5rem;
  align-items: center; /* Added to vertically center the content within the footer */
}

.anchorTagsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.anchorTags {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.socialAnchorTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.socialAnchorTags a img {
  height: 40px;
  width: 40px;
}

#facebook,
#twitter {
  height: 31px;
  width: 31px;
  margin: 0.3rem;
}

/* ===========================Responsiveness Main Home Page ======================== */
.barIconContainer {
  display: none;
}

.barIconContainer img {
  width: 1.5rem;
}

.barIconContainer img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1010px) {
  .navContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .navContainer {
    padding: 0.5rem 1rem;
  }
  .RightContainer {
    gap: 1rem;
  }
  .mainImageContantContainer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .contentContainer {
    text-align: center;
    margin-left: 1.5rem;
    margin-block: 1rem;
    padding-block: 1rem;
  }
  .primary-paragraph {
    width: 95%;
  }
  .contentContainer img {
    left: 45%;
    top: 13%;
  }
  .heroimageContainer {
    position: static;
    width: 100%;
    text-align: center;
  }
  .heroimageContainer img {
    max-width: 100%;
    width: 480px;
    height: 446px;
    /* text-align: center; */
  }
  .MathrixSection {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .testomnialDivision {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .MainCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card2 {
    top: 46%;
  }
  .shadowOfCard2 {
    top: 6%;
  }
  /* .witnessSection {
    min-height: 41rem;
  } */
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .planCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
    background-size: 450px;
  }
  #lowerDesign {
    bottom: -5%;
  }
  .videoCardsSection {
    background-size: cover;
  }
  .videoCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .videoCard {
    gap: 1rem;
    margin-block: 1rem;
  }
}

@media screen and (max-width: 810px) {
  .buttonContainerNav {
    display: none;
  }
  /* .anchorTagsContainer {
    display: none;
  } */
  .barIconContainer {
    display: block;
  }
  .navContainer {
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .contentContainer img {
    top: 16%;
  }
  .heroimageContainer img {
    width: 300px;
    height: 300px;
    /* text-align: center; */
  }
  .navContainer {
    padding: 1.5rem;
  }
  .RightContainer {
    gap: 1rem;
  }
  .testomnialDivision {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    top: 10%;
    left: 2%;
  }
  .CardDiv {
    margin-block: 3.5rem;
  }
  .shadowOfCard {
    top: -16%;
  }
  .shadowOfCard2,
  .shadowOfCard3 {
    top: -30%;
  }

  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .buttonContainerJoinNowSec img {
    display: none;
  }
  .questionContentContainer {
    font-size: 17px;
  }
  .answerContentContainer {
    font-size: 13px;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .cardsContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .joinNowSection {
    padding: 1rem;
  }
  .buttonContainerJoinNowSec {
    flex-direction: column;
    justify-content: center;
  }
  .questionContentContainer {
    font-size: 14px;
  }
  .answerContentContainer {
    font-size: 12px;
  }
  .CenterContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .anchorTags {
    align-items: center;
  }
  .anchorTagsFooterContainer {
    align-items: center;
  }
  .contentContainer img {
    top: 18%;
  }
  .shadowOfCard3 {
    right: -5%;
  }
  .shadowOfCard2 {
    left: 5%;
  }
}

/* =========================Forget LightBox Css============================== */
.main-conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
}

.forget-Passwrod {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 460px;
  background-color: white;
  border-radius: 10px;
  background-image: url('../images/bg forget.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 2px 15px 0px rgb(255, 255, 255);
  padding: 1rem;
}

.login_bg {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.close-icon {
  position: absolute;
  top: 8.5%;
  right: 7%;
  cursor: pointer;
}

.emailInput {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(40, 41, 41, 1);
  margin-left: auto;
  margin-right: auto;
}

.primary-heading-forget {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.email {
  display: block;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
}

.forget-Passwrod > p {
  border-bottom: 1px solid rgb(185, 170, 170);
}

.forget-Passwrod img:nth-child(2) {
  margin-top: 1rem;
}

.returnLoginAnchor {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
  text-decoration: underline;
}

.loginAnchor {
  text-decoration: #2d3e4e underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #e09e50;
  font-size: 16px;

}

/* ==============================Login Page Light Box CSS============================  */
.main-conatainer-Login-Form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
}

.primary-heading-login {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 28px;
  color: black;
}

#haveaccountSpan {
  font-family: 'Montserrat', sans-serif;
}

.sign-form {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  background-image: url('../images/modal.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 2px 15px 0px rgb(255, 255, 255);
}

.close-icon {
  position: absolute;
  top: 3.5%;
  right: 7%;
}

.emailInput {
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.emailField,
.password-field,
.forgot-password {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(40, 41, 41, 1);
}

.password-field {
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 1.3rem;
}

.emailLogin {
  display: block;
  padding: 0.6rem;
  border-radius: 10px;
  margin: 0.5rem auto;
  width: 90%;
  align-self: baseline;
  border: 1px solid gray;
}


input[type='password'] {
  border: 1px solid gray;
}

.login_m1 {
  position: absolute;
  top: 0;
  left: 0;
}

.login_m2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.login_m3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.login_m4 {
  position: absolute;
  top: 33%;
  right: 0;
}

#eye-icon {
  position: absolute;
  top: 25px;
  right: 8%;
}

input[type='submit'] {
  color: white;
  font-weight: 400;
  width: 90%;
  background-color: #e09e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.sign-form > p {
  opacity: 0.5;
}

.sign-form img:nth-child(2) {
  margin-top: 1rem;
}

.sign-up-facebook {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0.5rem;
  width: 100%;
}

.sign-up-facebook input {
  color: black;
  margin: 0rem;
  padding: 1rem 0rem;
  width: 50%;
}

.sign-up-google {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.sign-up-google input {
  color: black;
  margin: 0rem;
  padding: 1rem 0rem;
  width: 50%;
}

/* ==========================Login Animation LightBox ============================== */
.loginAnimationDiv {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  display: none;
}

.mainImageContainer {
  margin-top: 3rem;
  width: 600px;
  padding: 1rem;
  position: relative;
}

.mainImageContainer img {
  width: 692px;
}

.buttonCon {
  background: linear-gradient(261.11deg, #2d3e4e 0%, #283949 90.84%);
  padding: 0.7rem;
  position: absolute;
  z-index: 4;
  top: 2%;
  right: 20%;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

#loginButtonAnimation {
  border: 1px solid rgba(255, 255, 255, 1);
  outline: none;
  color: white;
  background-color: #283949;
}
/* =========================responsiveness Animation Page =========================== */
@media screen and (max-width: 640px) {
  .mainImageContainer {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .buttonCon {
    top: 3%;
    right: 5%;
  }
}

.carousel-item {
  background-color: #fff;
  height: 100vh;
}

.image_box_first {
  width: 922px;
  height: 624px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 4;
}

.image_box_first .first_img {
  position: absolute;
  bottom: 61px;
  left: 73px;
}

.image_box_first .second_img {
  position: absolute;
  bottom: 108px;
  left: 177px;
}

.image_box_first .third_img {
  position: absolute;
  top: 0;
  left: 348px;
  width: 540px;
}

.image_box_first .third_img img {
  width: 100%;
}

.image_box_first .third_img p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 302px;
}

.image_box_first.second {
  position: absolute;
}

.tutorial_sec {
  place-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  display: none;
}

.tutorial_sec .content_box {
  position: relative;
}

.cross_tut {
  position: absolute;
  top: 25px;
  right: 35px;
}

.cross_tut img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_payment_box {
  padding: 40px;
}

.button_payment_box a:first-child {
  background: #ffc439;
}

.button_payment_box a:last-child {
  background: #635bff;
}

.button_payment_box a:first-child span:first-child {
  color: #003087;
  font-weight: 700;
}

.button_payment_box a:first-child span:last-child {
  color: #0070e0;
  font-weight: 700;
}

.button_payment_box a {
  padding: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 21px;
  border-radius: 11px;
}

*::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #004639;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.video_sec {
  position: relative;
  height: 441px;
}

.video_sec video {
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 558px;
  height: 326px;
}

.learnAnythingImage {
  width: 900px;
  height: 449px;
}

@media screen and (max-width: 900px) {
  .video_sec {
    height: 314px;
  }
  .learnAnythingImage {
    width: 700px;
    height: 329px;
  }
  .video_sec video {
    position: absolute;
    top: 44%;
    left: 51.1%;
    transform: translate(-50%, -51%);
    width: 440px;
    height: 245px;
  }
}

@media screen and (max-width: 700px) {
  .video_sec {
    height: auto;
  }
  .learnAnythingImage {
    /* width: 300px;
        height: 329px; */
    display: none;
  }
  .video_sec video {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    border: 15px solid #f3f5f6;
    border-radius: 14px;
  }
}

.leftCon{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
  position: absolute;
  top: -11px;
  height: 94px;
  left: 171px;
  z-index: -1;
}

.content {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_group {
  margin-bottom: 1rem;
}

.input_group label {
  color: #282929;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.014px;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.input_group input {
  border-radius: 10px;
  border: 1px solid #cbcdcd;
  background: #fff;
  height: 30px;
}

.sup_plan {
  border-radius: 20px;
  background: rgba(232, 129, 40, 0.15);
  position: relative;
  overflow: hidden;
  padding: 31px;
  text-align: center;
}

.sup_plan .p1 {
  position: absolute;
  top: 0;
  left: 0;
}

.sup_plan .p2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.geni_image {
  display: block;
  width: 87px;
  margin-left: auto;
  margin-right: auto;
}

.sup_plan .head {
  color: #2d3e4e;
  font-family: Milonga;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.763px;
  display: block;
}

.sup_plan .sub_head {
  color: #e09e50;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.85px;
  letter-spacing: -0.15px;
}

.planCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 280px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 1rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.headerPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.headerPlanCard img {
  width: 64px;
  height: 64px;
}

.planCardHeading {
  align-self: center;
  text-align: center;
}

.headerPlanCard h6 {
  font-family: 'Milonga', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 0.4rem;
}

.contentPlanCard ul {
  padding-left: 0;
}

.contentPlanCard ul li {
  font-family: 'Milonga', cursive;
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.hidden {
  display: none;
}



.text-success {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger {
  color: red;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  width: 23px;
  height: 23px;
}

.criteria-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  line-height: 1.2;
  flex-wrap: nowrap;
}

.criteria-row p {
  margin-right: 10px;
  white-space: nowrap;
}

.text-success .checkmark {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger .checkmark {
  color: red;
}

@keyframes highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.highWeightSpan {
  font-weight: 700;
  font-size: 1.8rem;
  color: black;
}

.lowWeightSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.planCardParagraph {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  width: 100%;
}

.plancardButton {
  width: 200px;
  height: 35px;
  border-radius: 6px;
  background-color: #e09e50;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plancardButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contentPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.submit_button {
  border-radius: 10px;
  background: #e09e50;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.014px;
  border: none;
  padding: 14px 40px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Minimale Höhe des Viewports */
  flex: 1;
}

#passwordChangeForm {
  margin-top: 20px;
  z-index: 2;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  background-color: #d8dcdf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Added to vertically center the content within the footer */
}

footer.mainFooterContainer {
  background-color: #d8dcdf;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

#footerLogo {
  width: 133px;
  height: 77px;
}

.footerUpperSection {
  background-image: url('../images/download_app.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.buttonsContainerFooterUperSec {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonsContainerFooterUperSec button {
  border: none;
  outline: none;
}

.CenterContainer {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
  gap: 2.5rem;
  align-items: center; /* Added to vertically center the content within the footer */
}

.anchorTagsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.anchorTags {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.RightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.socialAnchorTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.socialAnchorTags a img {
  height: 40px;
  width: 40px;
}

#facebook,
#twitter {
  height: 31px;
  width: 31px;
  margin: 0.3rem;
}

.footerHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1) !important;
  text-decoration: none;
}

.anchorTags a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  text-decoration: none;
}

.anchorTags a:hover {
  color: #f28816;
  cursor: pointer;
  text-decoration: underline;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_payment_box {
  padding: 40px;
}

.button_payment_box a:first-child {
  background: #ffc439;
}

.button_payment_box a:last-child {
  background: #635bff;
}

.button_payment_box a:first-child span:first-child {
  color: #003087;
  font-weight: 700;
}

.button_payment_box a:first-child span:last-child {
  color: #0070e0;
  font-weight: 700;
}

.button_payment_box a {
  padding: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 21px;
  border-radius: 11px;
}

.planCard.back {
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
}

.planCard.back .highWeightSpan,
.planCard.back .planCardParagraph {
  color: #fff;
}

*::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #004639;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

a,
.close-icon,
input[type='radio'] {
  cursor: pointer;
}