.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid gray;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #4CAF50;
  background-image: url('../images/noise-light.png');
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.headerContainer {
  background: #2d3e4e;
  background-image: url('../images/noise-light.png');
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 75px; 
}

.headerSpacer {
  height: 75px; 
  padding-bottom: 75px;
}

a {
  cursor: pointer;
}

.headerDesign {
  position: absolute;
  left: -2%;
  bottom: -1%;
}

.row {
  margin-bottom: 2rem; 
}

.arrow-up {
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #212529;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.arrow-up.hidden {
  display: none;
}

.hidden {
  display: none;
}

.text-success {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger {
  color: red;
  animation: highlight 0.5s ease-in-out;
}



.toggle-password {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  width: 21px;
  height: 21px;
}

.criteria-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
  font-size: 14px;
  line-height: 1.6;
  flex-wrap: nowrap;
}

.criteria p {
  margin: 0;
  white-space: nowrap;
  width: 100%;
  margin-right: 10px;
}

.text-success .checkmark {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger .checkmark {
  color: red;
  animation: highlight 0.5s ease-in-out;
}

@keyframes highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.arrow-up:hover {
  opacity: 1;
}

.heroimage-section-content {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 3rem auto; 
  gap: 1rem; 
}

.green-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#b8ffaf00 1%,
		#b8ffaf 2.5%,
		#b8ffaf80 5.7%,
		#b8ffaf1a 93%,
		#b8ffafb4 95%,
		#b8ffaf00 98%
	),
	linear-gradient(182deg, #b8ffaf00, #b8ffaf4d 8%, #b8ffaf00 15%);
}

.pink-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#ffafd400 1%,
		#ffafd4 2.5%,
		#ffafd480 5.7%,
		#ffafd41a 93%,
		#ffafd4b4 95%,
		#ffafd400 98%
	),
	linear-gradient(182deg, #ffafd400, #ffafd44d 8%, #ffafd400 15%);
}

.blue-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#afd7ff00 1%,
		#afd7ff 2.5%,
		#afd7ff80 5.7%,
		#afd7ff1a 93%,
		#afd7ffb4 95%,
		#afd7ff00 98%
	),
	linear-gradient(182deg, #afd7ff00, #afd7ff4d 8%, #afd7ff00 15%);
}

.arrow-up img {
  width: 30px;
  height: 30px;
}

.navbar {
  position: relative;
  z-index: 2;
}

.navContainer {
  padding: 0.5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.RightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 2rem 6rem 2rem 0rem;
}

.anchorTagsContainer a {
  margin-inline: 1rem;
  text-decoration: none;
  font-family: 'Milonga';
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
}

.anchorTagsContainer a:hover,
.anchorTagsContainer a:active {
  cursor: pointer;
  color: #e09e50;
  text-decoration: underline;
}

.primary-button {
  margin-inline: 0.3rem;
  height: 35px;
  width: 150px;
  text-align: center;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  color: white;
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e09e50;
}

.nav-item button.pop {
  position: relative;
  z-index: 999;
  background: linear-gradient(261.11deg, #2d3e4e 0%, #283949 90.84%);
}

.nav-link.dropdown-toggle {
  color: #e09e50 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.nav-item .blog {
  background: transparent;
  outline: none;
  border: none;
  width: 76px;
  font-family: 'Montserrat', sans-serif;
}

.nav-item .blog:hover {
  background-color: #e09e50;
  border: 1px solid white;
  font-family: 'Milonga', sans-serif;
}

.nav-item button {
  background-color: #e09e50;
  outline: none;
  border: none;
}

.sideAdaptSticker {
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: rgba(185, 212, 208, 0.2);
  opacity: 0.7;
  box-shadow: 2px 0px 10px 0px rgba(185, 212, 208, 0.2);
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.heroimageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.heroimageContainer img {
  max-width: 100%;
  height: auto;
}

.contentContainer {
  display: inline-block;
  width: 448px;
  margin-top: 10rem;
  margin-left: 15rem;
}

.heroimage-section {
  background-color: slategray;
  background-image: url('../images/noise-light.png');
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 60px;
  line-height: 1.2;
}

h1 ~ p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: whitesmoke;
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.6;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #000;
  line-height: 1.2;
}

h2 ~ p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  line-height: 1.6;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  line-height: 1.6;
}

h3 ~ p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 1.6;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

h4 ~ p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
}

.nav-tabs {
  justify-content: center;
}

.tab-pane {
  min-height: 300px;
}

.problem-solutionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 3rem auto; 
  gap: 1rem; 
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.benefitsButtonContainer {
  margin: 1.5rem;
}

.benefitsSection {
  background-image: url('../images/bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 3rem 0; 
  gap: 1rem; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.benefitsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5rem 10rem 0.5rem 10rem;
  gap: 2rem;
}

.benefit {
  flex: 1;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
}

.benefit p {
  display: block;
  max-width: 100%;
  text-align: justify;
  white-space: normal;
  padding: 2% 10% 0 10%;
  hyphens: auto;
}

.benefit img {
  width: 225px;
  height: 225px;
  height: auto;
}

.testimonialsSection {
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 3rem auto; 
  gap: 1rem; 
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease;
}

.carousel-item {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
  width: 350px;
}

.carousel-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.carousel-item p {
  text-align: center;
  margin: 10px 0;
}

.carousel-item h4 {
  font-size: 18px;
  margin: 0;
}

.navigation {
  margin-top: 20px;
  text-align: center;
}

.navigation button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: #555;
}

.MainCardsContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card {
  top: 47%;
  left: 9%;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 170px;
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CardDiv {
  position: relative;
  margin-bottom: 4rem;
}

.shadowOfCard {
  position: absolute;
  z-index: 0;
  width: 270px;
  top: 18%;
  left: 0;
}

.shadowOfCard3 {
  position: absolute;
  right: -14%;
  width: 260px;
  top: 12%;
}

.shadowOfCard2 {
  position: absolute;
  left: 16%;
  top: -16%;
}

.thumbnail-Content-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.quoteMarks {
  position: absolute;
  top: -6%;
  width: 2rem;
}

.card2 {
  top: 19%;
}

.tabBar {
  position: absolute;
  bottom: 0;
}

.thumbnail-Content-Container img {
  border-radius: 25px;
}

.thumbnailDescription {
  font-family: 'Milonga';
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.toolpreviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 3rem 0; 
  gap: 1rem; 
 background-image: url('../images/videosectionbackground.png');
 background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


.crownImg {
  width: 7rem;
  align-self: center;
}

.toolpreviewSection h1,
.toolpreviewSection p {
  align-self: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  margin: 0 auto;
  max-width: 960px;
}

.toolpreviewCard {
  width: 260px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 1.4rem;
  box-shadow: 7px 7px 2px 1px rgb(9, 12, 15);
}

.cardtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  margin: 0;
  text-align: left;
  hyphens: auto;
}

.cardheader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #e09e50;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

.planCardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  margin: 3rem auto; 
}

.planCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('../images/PlanCardsBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin: 2rem auto;
}

#upperDesign {
  position: absolute;
  top: -15%;
  right: 1%;
}

#lowerDesign {
  position: absolute;
  bottom: -20%;
  left: 3%;
}

.planCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 280px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 1rem;
  background-color: white;
  z-index: 1;
}

.planCard.back {
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
  color: #fff;
}

.plancardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  padding: 1rem 1rem 0.5rem 1rem;
}

.plancardbenefit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color: black;
  width: 100%;
}

.plancardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highSpan {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.lowSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.planCardParagraph { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: black;
  width: 100%;
}

.reset-container {
  min-height: 80vh;
}

.reset-card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset-card-body .form-group {
  margin-bottom: 1.5rem;
}

.reset-card-body .form-control, .reset-card-body .btn {
  width: 100%;
}

.reset-card-header, .reset-card-body {
  text-align: center;
}

.plancardButton {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  background-color: #e09e50;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 20px;
  margin-bottom: 3rem;
}

.plancardButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loginButton {
  width: 150px;
  height: 35px;
  border-radius: 6px;
  background-color: #e09e50;
  font-size: 20px;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loginButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.registerButton {
  margin-right: 1rem;
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.registerButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#dotsDesign {
  position: absolute;
  left: -5%;
  top: -5%;
}

.videoCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 1rem 8rem 1rem 8rem;
}

.videoCard {
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px rgb(9, 12, 15);
  text-align: center;
  overflow: hidden;
  max-width: 30%;
  background-color: white;
}

@media (max-width: 768px) {
  .videoCard {
      flex: 1 1 100%;
  }
}

.thumbnailshow,
.videos {
  display: none;
}

.videos {
  clip-path: polygon(51% 4%, 99% 1%, 100% 1%, 100% 80%, 100% 99%, 48% 96%, 1% 99%, 0 0);
  border-radius: 20px;
  width: 200px;
  height: 170px;
}

.videoCard img:first-child {
  width: 100%;
  filter: drop-shadow(3px 2px 0px rgba(34, 154, 135, 1));
}

.videoDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1);
  text-align: center;
}

.frequentlyAskedQuestionSection,
.call-to-actionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-block: 2rem;
}

.call-to-actionButton {
  background-color: #e09e50;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  outline: none;
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 7px;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.questionContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #e09e50;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.questionContentContainer:hover {
  background-color: lightgrey;
}

.answerContentContainer {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
  display: none;
  margin: 1rem;
  line-height: 1.6;
}

.showAnswerDiv {
  display: block;
}

.crossIcon {
  display: none;
}

.showCrossIcon {
  display: block;
  width: 20px;
  height: 20px;
}

.hidePlusIcon {
  display: none;
}

.plusIcon {
  width: 20px;
  height: 20px;
}

.divider {
  margin-block: 1rem;
  opacity: 20%;
  border: 1px solid black;
}

.anchorTags a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  text-decoration: none;
}

.anchorTags a:hover {
  color: #f28816;
  cursor: pointer;
  text-decoration: underline;
}

.footerContainer {
  background-color: #d8dcdf;
  background-image: url('../images/noise-light.png');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#footerLogo {
  width: 110px;
  height: 63px;
}

.footerUpperSection {
  background-image: url('../images/download_app.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.buttonsContainerFooterUperSec {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonsContainerFooterUperSec button {
  border: none;
  outline: none;
}

.changePasswordForm {
  padding: 0 9rem;
}

.CenterContainer {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
  gap: 2.5rem;
  align-items: center;
}

.anchorTagsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.anchorTags {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.socialAnchorTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.socialAnchorTags a img {
  height: 40px;
  width: 40px;
}

#facebook,
#twitter {
  height: 31px;
  width: 31px;
  margin: 0.3rem;
}

/* ===========================Responsiveness Main Home Page ======================== */
.barIconContainer {
  display: none;
}

.barIconContainer img {
  width: 1.5rem;
}

.barIconContainer img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1010px) {
  .navContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .navContainer {
    padding: 0.5rem 1rem;
  }
  .RightContainer {
    gap: 1rem;
  }

  .contentContainer {
    text-align: center;
    margin-left: 1.5rem;
    margin-block: 1rem;
    padding-block: 1rem;
  }

  .contentContainer img {
    left: 45%;
    top: 13%;
  }
  .heroimageContainer {
    position: static;
    width: 100%;
    text-align: center;
  }
  .heroimageContainer img {
    max-width: 100%;
    width: 480px;
    height: 446px;
  }

  .MainCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card2 {
    top: 46%;
  }
  .shadowOfCard2 {
    top: 6%;
  }

  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .planCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
    background-size: 450px;
  }
  #lowerDesign {
    bottom: -5%;
  }


  .videoCardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .videoCard {
    gap: 1rem;
    margin-block: 1rem;
  }
}

@media screen and (max-width: 810px) {
  .buttonContainerNav {
    display: none;
  }

  .barIconContainer {
    display: block;
  }
  .navContainer {
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .contentContainer img {
    top: 16%;
  }
  .heroimageContainer img {
    width: 300px;
    height: 300px;
  }
  .navContainer {
    padding: 1.5rem;
  }
  .RightContainer {
    gap: 1rem;
  }

.CardDiv {
    margin-block: 3.5rem;
  }
  .shadowOfCard {
    top: -16%;
  }
  .shadowOfCard2,
  .shadowOfCard3 {
    top: -30%;
  }

  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .buttonContainercall-to-actionSec img {
    display: none;
  }
  .questionContentContainer {
    font-size: 17px;
  }
  .answerContentContainer {
    font-size: 13px;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .cardsContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .call-to-actionSection {
    padding: 1rem;
  }
  .buttonContainercall-to-actionSec {
    flex-direction: column;
    justify-content: center;
  }
  .questionContentContainer {
    font-size: 14px;
  }
  .answerContentContainer {
    font-size: 12px;
  }
  .CenterContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .anchorTags {
    align-items: center;
  }
  .anchorTagsFooterContainer {
    align-items: center;
  }
  .contentContainer img {
    top: 18%;
  }
  .shadowOfCard3 {
    right: -5%;
  }
  .shadowOfCard2 {
    left: 5%;
  }
}

/* =========================Forget LightBox Css============================== */
.main-conatainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
}

.forget-Passwrod {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 460px;
  background-color: white;
  border-radius: 10px;
  background-image: url('../images/bg forget.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 2px 15px 0px rgb(255, 255, 255);
  padding: 1rem;
}

.login_bg {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.close-icon {
  position: absolute;
  top: 8.5%;
  right: 7%;
  cursor: pointer;
}

.emailInput {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.primary-heading-forget {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.email {
  display: block;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
}

.forget-Passwrod > p {
  border-bottom: 1px solid rgb(185, 170, 170);
}

.forget-Passwrod img:nth-child(2) {
  margin-top: 1rem;
}

.returnLoginAnchor {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
  text-decoration: underline;
}

.loginAnchor {
  text-decoration: #2d3e4e underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #e09e50;
  font-size: 16px;

}

/* ==============================Login Page Light Box CSS============================  */
.main-conatainer-Login-Form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
}

#haveaccountSpan {
  font-family: 'Montserrat', sans-serif;
}

.sign-form {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  background-image: url('../images/modal.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 2px 15px 0px rgb(255, 255, 255);
}

.close-icon {
  position: absolute;
  top: 3.5%;
  right: 7%;
}

.emailField,
.password-field,
.forgot-password {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.password-field {
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 1.3rem;
}

.emailLogin {
  display: block;
  padding: 0.4rem;
  border-radius: 10px;
  margin: 0.5rem auto;
  width: 90%;
  align-self: baseline;
  border: 1px solid gray;
}


input[type='password'] {
  border: 1px solid gray;
}

.login_m1 {
  position: absolute;
  top: 0;
  left: 0;
}

.login_m2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.login_m3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.login_m4 {
  position: absolute;
  top: 33%;
  right: 0;
}

#eye-icon {
  position: absolute;
  top: 25px;
  right: 8%;
}

input[type='submit'] {
  color: white;
  background-color: #e09e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.sign-form > p {
  opacity: 0.5;
}

.sign-form img:nth-child(2) {
  margin-top: 1rem;
}

.sign-up-facebook {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0.5rem;
  width: 100%;
}

.sign-up-facebook input {
  color: black;
  margin: 0rem;
  padding: 1rem 0rem;
  width: 50%;
}

.sign-up-google {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

.sign-up-google input {
  color: black;
  margin: 0rem;
  padding: 1rem 0rem;
  width: 50%;
}

/* ==========================Login Animation LightBox ============================== */
.loginAnimationDiv {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  display: none;
}

.mainImageContainer {
  margin-top: 3rem;
  width: 600px;
  padding: 1rem;
  position: relative;
}

.mainImageContainer img {
  width: 692px;
}

.buttonCon {
  background: linear-gradient(261.11deg, #2d3e4e 0%, #283949 90.84%);
  padding: 0.7rem;
  position: absolute;
  z-index: 4;
  top: 2%;
  right: 20%;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

#loginButtonAnimation {
  border: 1px solid rgba(255, 255, 255, 1);
  outline: none;
  color: white;
  background-color: #283949;
}
/* =========================responsiveness Animation Page =========================== */
@media screen and (max-width: 640px) {
  .mainImageContainer {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .buttonCon {
    top: 3%;
    right: 5%;
  }
}

.image_box_first {
  width: 922px;
  height: 624px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 4;
}

.image_box_first .first_img {
  position: absolute;
  bottom: 61px;
  left: 73px;
}

.image_box_first .second_img {
  position: absolute;
  bottom: 108px;
  left: 177px;
}

.image_box_first .third_img {
  position: absolute;
  top: 0;
  left: 348px;
  width: 540px;
}

.image_box_first .third_img img {
  width: 100%;
}

.image_box_first .third_img p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 302px;
}

.image_box_first.second {
  position: absolute;
}

.toolpreview_sec {
  place-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  display: none;
}

.toolpreview_sec .content_box {
  position: relative;
}

.cross_tut {
  position: absolute;
  top: 25px;
  right: 35px;
}

.cross_tut img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_payment_box {
  padding: 40px;
}

.button_payment_box a:first-child {
  background: #ffc439;
}

.button_payment_box a:last-child {
  background: #635bff;
}

.button_payment_box a:first-child span:first-child {
  color: #003087;
  font-weight: 700;
}

.button_payment_box a:first-child span:last-child {
  color: #0070e0;
  font-weight: 700;
}

.button_payment_box a {
  padding: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 20px;
  border-radius: 11px;
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #004639;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.video_sec {
  position: relative;
  height: 441px;
}

.video_sec video {
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 558px;
  height: 326px;
}

.problem-solutionImage {
  width: 900px;
  height: 449px;
}

@media screen and (max-width: 900px) {
  .video_sec {
    height: 314px;
  }
  .problem-solutionImage {
    width: 700px;
    height: 329px;
  }
  .video_sec video {
    position: absolute;
    top: 44%;
    left: 51.1%;
    transform: translate(-50%, -51%);
    width: 440px;
    height: 245px;
  }
}

@media screen and (max-width: 700px) {
  .video_sec {
    height: auto;
  }
  .problem-solutionImage {
    display: none;
  }
  .video_sec video {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    border: 15px solid #f3f5f6;
    border-radius: 14px;
  }
}

.leftCon{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
  position: absolute;
  top: -11px;
  height: 94px;
  left: 171px;
  z-index: -1;
}

.content {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_group {
  margin-bottom: 1rem;
}

.input_group label {
  color: #282929;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.014px;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.input_group input {
  border-radius: 10px;
  border: 1px solid #cbcdcd;
  background: #fff;
  height: 30px;
}

.plancardHeader img {
  width: 64px;
  height: 64px;
}

.hidden {
  display: none;
}

.text-success {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger {
  color: red;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  width: 23px;
  height: 23px;
}

.text-success .checkmark {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger .checkmark {
  color: red;
}

@keyframes highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.submit_button {
  border-radius: 10px;
  background: #e09e50;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.014px;
  border: none;
  padding: 14px 40px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  flex: 1;
}

#passwordChangeForm {
  margin-top: 20px;
  z-index: 2;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  background-color: #d8dcdf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer.mainFooterContainer {
  background-color: #d8dcdf;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footerUpperSection {
  background-image: url('../images/download_app.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.buttonsContainerFooterUperSec {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonsContainerFooterUperSec button {
  border: none;
  outline: none;
}

.CenterContainer {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
  gap: 2.5rem;
  align-items: center;
}

.anchorTagsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.anchorTags {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.RightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.socialAnchorTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.socialAnchorTags a img {
  height: 40px;
  width: 40px;
}

#facebook,
#twitter {
  height: 31px;
  width: 31px;
  margin: 0.3rem;
}

.footerHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.password-field {
  position: relative;
}

.password-field input {
  padding-right: 10px;
}

.password-field .toggle-password {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-field .toggle-password img {
  width: 21px;
  height: 21px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_payment_box {
  padding: 40px;
}

.button_payment_box a:first-child {
  background: #ffc439;
}

.button_payment_box a:last-child {
  background: #635bff;
}

.button_payment_box a:first-child span:first-child {
  color: #003087;
  font-weight: 700;
}

.button_payment_box a:first-child span:last-child {
  color: #0070e0;
  font-weight: 700;
}

.button_payment_box a {
  padding: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 21px;
  border-radius: 11px;
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #004639;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

a,
.close-icon,
input[type='radio'] {
  cursor: pointer;
}