.headerContainer {
  background: #2d3e4e;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 75px; /* Feste Höhe für den Header */
}

.headerSpacer {
  height: 75px; /* Gleiche Höhe wie der Header */
}

.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid gray;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #4CAF50;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

h1 {
  color: #2d3e4e;
  font-family: Milonga;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  position: relative;
}

h1 img {
  position: absolute;
  top: -11px;
  height: 94px;
  left: 171px;
  z-index: -1;
}

.content {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  color: #e09e50;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

h3 {
  color: #2d3e4e;
  font-family: Milonga;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input_group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input_group label {
  color: #282929;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.014px;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.input_group input {
  border-radius: 10px;
  border: 1px solid #cbcdcd;
  background: #fff;
  height: 50px;
}

.sup_plan {
  border-radius: 20px;
  background: rgba(232, 129, 40, 0.15);
  position: relative;
  overflow: hidden;
  padding: 31px;
  text-align: center;
}

.sup_plan .p1 {
  position: absolute;
  top: 0;
  left: 0;
}

.sup_plan .p2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.geni_image {
  display: block;
  width: 87px;
  margin-left: auto;
  margin-right: auto;
}

.sup_plan .head {
  color: #2d3e4e;
  font-family: Milonga;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.763px;
  display: block;
}

.sup_plan .sub_head {
  color: #e09e50;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.85px;
  letter-spacing: -0.15px;
}

.planCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 280px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 1rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.headerPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.headerPlanCard img {
  width: 64px;
  height: 64px;
}

.planCardHeading {
  align-self: center;
  text-align: center;
}

.headerPlanCard h6 {
  font-family: 'Milonga', cursive;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 0.4rem;
}

.contentPlanCard ul {
  padding-left: 0;
}

.contentPlanCard ul li {
  font-family: 'Milonga', cursive;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(45, 62, 78, 1);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.text-success {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger {
  color: red;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password img {
  width: 23px;
  height: 23px;
}

.criteria-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  line-height: 1.2;
  flex-wrap: nowrap;
}

.criteria-row p {
  margin-right: 10px;
  white-space: nowrap;
}

.text-success .checkmark {
  color: green;
  animation: highlight 0.5s ease-in-out;
}

.text-danger .checkmark {
  color: red;
}

@keyframes highlight {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.highWeightSpan {
  font-family: 'Milonga', cursive;
  font-weight: 400;
  font-size: 2rem;
  color: rgba(45, 62, 78, 1);
}

.lowWeightSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(183, 194, 191, 1);
}

.planCardParagraph {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  width: 100%;
}

.plancardButton {
  width: 200px;
  height: 35px;
  border-radius: 6px;
  background-color: #e09e50;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plancardButton:hover {
  cursor: pointer;
  border: 2px solid #e09e50;
  box-shadow: 0 4px 8px rgba(224, 158, 80, 0.3), 0 6px 20px rgba(224, 158, 80, 0.19);
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contentPlanCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.submit_button {
  border-radius: 10px;
  background: #e09e50;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.014px;
  border: none;
  padding: 14px 40px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Minimale Höhe des Viewports */
  flex: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  background-color: #d8dcdf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Added to vertically center the content within the footer */
}

footer.mainFooterContainer {
  background-color: #d8dcdf;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

#footerLogo {
  width: 133px;
  height: 77px;
}

.footerUpperSection {
  background-image: url('../images/download_app.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.buttonsContainerFooterUperSec {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonsContainerFooterUperSec button {
  border: none;
  outline: none;
}

.CenterContainer {
  display: flex;
  flex-direction: row;
  padding-block: 2rem;
  gap: 2.5rem;
  align-items: center; /* Added to vertically center the content within the footer */
}

.anchorTagsFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.anchorTags {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.RightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 2rem 6rem 2rem 0rem;
}

.socialAnchorTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.socialAnchorTags a img {
  height: 40px;
  width: 40px;
}

#facebook,
#twitter {
  height: 31px;
  width: 31px;
  margin: 0.3rem;
}

.footerHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(40, 41, 41, 1) !important;
  text-decoration: none;
}

.anchorTags a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  text-decoration: none;
}

.anchorTags a:hover {
  color: #f28816;
  cursor: pointer;
  text-decoration: underline;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button_payment_box {
  padding: 40px;
}

.button_payment_box a:first-child {
  background: #ffc439;
}

.button_payment_box a:last-child {
  background: #635bff;
}

.button_payment_box a:first-child span:first-child {
  color: #003087;
  font-weight: 700;
}

.button_payment_box a:first-child span:last-child {
  color: #0070e0;
  font-weight: 700;
}

.button_payment_box a {
  padding: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 21px;
  border-radius: 11px;
}

.planCard.back {
  background: linear-gradient(261.11deg, #3e5972 0%, #2a3f51 90.84%);
}

.planCard.back .highWeightSpan,
.planCard.back .planCardParagraph {
  color: #fff;
}

*::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #004639;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

a,
.close-icon,
input[type='radio'] {
  cursor: pointer;
}
