@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#user_input:focus {
	outline: none;
	box-shadow: none;
}

.toolsAnchor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cv_box {
	font-family: Arial, sans-serif;
}

.delete-archive {
	border: none;
	color: #ff6666; /* Light red color */
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-archive:hover {
	transform: scale(1.2);
}

.delete-archive i {
	font-size: 18px;
	color: #ff6666; /* Light red color */
}

.delete-archive:hover i {
	color: #ff0000;
}

.entry p {
	margin: 0.5rem 0;
}

.entry input,
.entry textarea {
	width: 100%;
	padding: 6px;
	margin-bottom: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

.accordion-body {
	padding-left: 1rem;
}

.preview-container {
	border: 1px solid #2D3E4E;
	border-radius: 12px;
	padding: 1rem;
	margin-top: 6rem;
	margin-right: 3rem;
	background-color: #f8f8f8;
	height: 80vh;
	overflow: hidden;
}

#accordionFlushExample {
	height: 70vh;
	overflow: auto; /* Scrollbar wird angezeigt, wenn Overflow existiert */
}

@keyframes spin {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateY(-50%) rotate(360deg);
	}
}

.loading-button {
	position: relative;
	padding-right: 45px;
}

.loading-button::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
	border-top: 2px solid transparent;
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
	transform: translateY(-50%);
}

.textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#ffffaf00 1%,
		#ffffaf 2.5%,
		#ffffaf80 5.7%,
		#ffffaf1a 93%,
		#ffffafb4 95%,
		#ffffaf00 98%
	),
	linear-gradient(182deg, #ffffaf00, #ffffaf4d 8%, #ffffaf00 15%);
}

.green-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#b8ffaf00 1%,
		#b8ffaf 2.5%,
		#b8ffaf80 5.7%,
		#b8ffaf1a 93%,
		#b8ffafb4 95%,
		#b8ffaf00 98%
	),
	linear-gradient(182deg, #b8ffaf00, #b8ffaf4d 8%, #b8ffaf00 15%);
}

.pink-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#ffafd400 1%,
		#ffafd4 2.5%,
		#ffafd480 5.7%,
		#ffafd41a 93%,
		#ffafd4b4 95%,
		#ffafd400 98%
	),
	linear-gradient(182deg, #ffafd400, #ffafd44d 8%, #ffafd400 15%);
}

.blue-textmarker {
	display: inline-block;
	background: linear-gradient(
		100deg,
		#afd7ff00 1%,
		#afd7ff 2.5%,
		#afd7ff80 5.7%,
		#afd7ff1a 93%,
		#afd7ffb4 95%,
		#afd7ff00 98%
	),
	linear-gradient(182deg, #afd7ff00, #afd7ff4d 8%, #afd7ff00 15%);
}